.profile__but-add {
	background-image: url("../../../images/Vector(7)++++.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 22px;
	background-color: #000;
	cursor: pointer;
	min-width: 150px;
	height: 50px;
	padding: 0;
	border: 2px solid #ffffff;
	box-sizing: border-box;
	align-self: center;
	border-radius: 2px;
}

.profile__but-add:hover {
	opacity: 0.6;
}

@media screen and (max-width: 414px) {
	.profile__but-add {
		background-size: 16px;
		width: 100%;
		max-width: 282px;
	}
}
