.photo__item {
	display: grid;
	position: relative;
	width: 100%;
	max-width: 282px;
	font-style: normal;
	border-radius: 10px 10px 10px 10px;
	background: #fff;
	grid-template-areas:
	"photo__image photo__image"
	"photo__name photo__heart";
}
