.popup__input {
	font-family: 'Inter', 'Arial', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 30px;
	width: 98%;
	outline-style: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 0 1px 13px;
}
