.popup__close {
	box-sizing: border-box;
	background-image: url("../../../images/Close_Icon-min.svg");
	color: rgba(255, 255, 255, 1);
	width: 32px;
	height: 32px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	padding: 0;
	border: 0;
	position: absolute;
	overflow: hidden;
	right: -40px;
	top: -40px;
}

.popup__close:hover {
	opacity: 0.6;
}
@media screen and (max-width: 560px) {
	.popup__close {
		width: 20px;
		height: 20px;
		top: -36px;
		right: 0;
	}
}
