.profile__but-edit {
	display: block;
	border: 0;
	background-image: url("../../../images/Vector(1)-min.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-color: #000;
	background-size: 10px;
	max-width: 24px;
	max-height: 24px;
	padding: 7px;
	cursor: pointer;
	grid-area: profile__but-edit;
	border: 1px solid #ffffff;
	box-sizing: border-box;
}

.profile__but-edit:hover {
	opacity: 0.6;
}

@media screen and (max-with: 540px) {
	.profile__but-edit {
		max-width: 18px;
		max-height: 18px;
		background-size: 7.5px;
		/* padding: 5.25px; */
	}
}
