.profile__info {
    display: grid;
    max-width: 336px;
	align-items: center;
	margin: 22px auto auto 0;
	row-gap: 13px;
	column-gap: 18px;
    grid-template-areas:
    "profile__name profile__but-edit"
    "profile__bio . ";
}

@media screen and (max-width: 570px) {
	.profile__info {
		margin: 26px auto 36px;
	}
}
